			Body {padding: 0;
			margin: 0;
			font-family: cursive;}
			
			.ramka {border: 5px solid blue;
			width: 40%;
			margin: 0 auto;
			margin-top: 200px;}

			.forma {background: white;
			width: 40%;
			margin: 0 auto;
			padding-top: 10px;}

			input[type=text],[type=password]
			{border-radius: 7px;
			background: blue;
			color: white;}
			
			a {text-decoration: none;
			color: black;
			font-size: 20px;
			margin: 10px;}
		
			a:hover{color: red;}
			
			imput:valid{backkground: light-green;}
			
			input:invalid{background: lightred;}
			
			h1 {background: linear-gradient(to right, white, blue);}
		
			input[type=submit]{background: linear-gradient(to right, white, blue);
			padding: 13px;
			color: white;
			border-radius: 10px;}